<html>
    <head>
        <title>FSD slider plugin</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    </head>
    <body>
        <form class='formEclectic'></form>
    </body>
</html>