.formEclectic{
    position: absolute;
    width: 200px;
    height: 12px;
    box-sizing: border-box;
    top: 30%;
    left: 40%;
}        
#slider-field {
    position: absolute;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 1px solid rgba(31, 32, 65, 0.25);
    height: 4px;
    width: 200px;
    border-radius: 3px;
    margin-top: 35px;
    cursor: pointer;
}
.run-container {
    position: absolute;
    bottom: -140%;
    right: 94%;
    height: 15%;
    width: 6%;
    height: 1000%;
    cursor: pointer;
    z-index: 1000;
}

.input_for_slider{
    position: relative;
    width: 30%;
    margin-top: 40%;
}

.runner {
    position: absolute;
    background-color: red;
    left: -20%;
    width: 100%;
    height: 35%;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    bottom: 0;
    z-index: 1000;
}
.change-number{
    position: absolute;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: rgb(41, 34, 34);
    z-index: 1000;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 13px;
    width: 0px;
    text-align: center;
    background: #ad9797;
}

#interval-button {
    position: relative;
    background: rgb(206, 183, 226);
    height: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
#range-button{
    position: relative;
    background:  rgb(206, 183, 226);
    height: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

    
